<!-- ... -->
<launch>
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="optical_rotate" value="0 0.06 0 0 0 0 1" />

  <node pkg="ocams" type="ocam" name="right_cam" output="screen">
    <param name="resolution"    value="2"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <param name="frame_rate"    value="60"/>
    <param name="exposure"      value="100"/>
    <param name="gain"          value="50"/>
    <param name="wb_blue"       value="100"/>
    <param name="wb_red"        value="100"/>
    <param name="auto_exposure" value="true"/>
    <param name="show_image"    value="false"/>
    <param name="port"    value="/dev/video1"/>
    <param name="image_topic"    value="/stereo/right/image_raw"/>
    <param name="info_topic"    value="/stereo/right/camera_info"/>
    <param name="info_xml"    value="package://ocams/config/right.yaml"/>
    <param name="time_topic"    value="/stereo/right/timestamp"/>
    <param name="camera_name"    value="right"/>

    <param name="frame_id" value="right_frame"/>
  </node>

 
  <node pkg="tf2_ros" type="static_transform_publisher" name="ocams_base_link1"
    args="0 0 0 0 0 0 1 map right_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="ocams_base_link2"
    args="-0.15 0 0 0 0 0 1 right_frame left_frame" />

  <arg name="rqt_reconfigure" default="true" />
    <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" args="ocams"/>
</launch>
