<!-- ... -->
<launch>
  <arg name="rqt_reconfigure" default="true" />

  <group ns="stereo" >
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="disparity_range"  value="128"/>
    </node>
  </group>

   <!-- Dynamic Reconfigure stereo_image_proc parameters 
   <node if="$(arg rqt_reconfigure)" pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" args="stereo/stereo_image_proc ocams"/>
--> 
</launch>
