<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="host"/>
  <arg name="ns" default="Sensor" />
  <arg name="return" default="max" />
  <arg name="maxCloudSize" default="-1" />

  <!-- driver -->
  <group ns="$(arg ns)">
    <node name="client_node" 
          pkg="quanergy_client_ros" 
          type="client_node" 
          args="--host 192.168.1.3 --settings $(find quanergy_client_ros)/settings/client.xml --frame $(arg ns) --return $(arg return) --max-cloud $(arg maxCloudSize)"
          required="true" 
          output="screen"/>
  </group>

	<node pkg="avc_vision" type="ocam" name="ocam_camera" output="screen">
    <param name="resolution"    value="1"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <param name="frame_rate"    value="60"/>
    <param name="exposure"      value="100"/>
    <param name="gain"          value="50"/>
    <param name="wb_blue"       value="100"/>
    <param name="wb_red"        value="100"/>
    <param name="auto_exposure" value="true"/>
    <param name="show_image"    value="false"/>
    <param name="port_left"    value="/dev/video1"/>
    <param name="port_right"    value="/dev/video0"/>
    <param name="image_topic"    value="/stereo/right/image_raw"/>
    <param name="info_topic"    value="/stereo/right/camera_info"/>
    <param name="info_xml"    value="package://ocams/config/right.yaml"/>
    <param name="time_topic"    value="/stereo/right/timestamp"/>
    <param name="camera_name"    value="right"/>

    <param name="frame_id" value="right_frame"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="ocams_base_link1"
    args="0 0 0 -0.707 0 0 0.707 odom right_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="ocams_base_link2"
    args="-0.15 0 0 0 0 0 1 right_frame left_frame" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="m8_base_link"
    args="0 0 0 0 0 0 1 odom Sensor" />

</launch>
